:root{
    --bfs: 1rem;
    --xxs: calc(var(--bfs) * 0.3);
    --xs: calc(var(--bfs) * 0.5);
    --s: calc(var(--bfs) * 0.8);
    --m: calc(var(--bfs) * 1.3);
    --l: calc(var(--bfs) * 2.1);
    --xl: calc(var(--bfs) * 3.4);
    --xxl: calc(var(--bfs) * 5.5);

    --light: #aaa;
    --lighter: #ccc;
    --lightest: #eee;
    --dark: #666;
    --darker: #222;

    --color-text: var(--darker);
    --color-headline: var(--dark);
    --color-accent: rgb(254,196,87);
    --ff-normal: 'IBM Plex Sans', sans-serif;
    --ff-serif: 'IBM Plex Serif', serif;
    --fw-normal: 400;
    --fw-medium: 500;
    --fw-bold: 700;

    --lh-normal: 130%;
    --lh-tight: 110%;
    --lh-loose: 150%;

    --tr-fast: 0.3s;
}